*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/* head 开始 */
.head{
    height: 201px;
    width: 100%;
    position: relative;
}
.head img{
     height:100%;
     width: 100%;
}
.head-write{
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 395px;
    text-align: center;
}
.head h1{
    margin: 10px 0;
    color: darkgreen;
}
.head h2{
    color: darkgreen;
}
/* head 结束 */
/* nav 开始 */
.nav{
    height: 40px;
    background: #83c44e;
    /*margin-top: 3px;*/
    width: 100%;
    position: relative;
}
.nav-item{
    line-height: 40px;
    float: left;
    width: 110px;
    position: relative;
    text-align: center;
}
.nav-item a{
    color: white;
    width: 100%;
    height: 100%;
    float: left;
    font-size: 14px;
}
.nav-item a:hover{
    color: #83c44e;
    background: white;
}
.nav-search{
    float: right;
    height: 40px;
}
.nav-search li{
    float: left;
    color: white;
    line-height: 40px;
    width: 110px;
    text-align: right;
}
.nav-search li a{
    color: white;
}
.nav-search li a:hover{
    color: #2196f3;
}
.container{
    width: 110px;
    height: 0px;
    background: #83c44e;
    position: absolute;
    top:40px;
    text-align: center;
    display: none;
    z-index: 1;
}
.container-item a{
 font-size: 12px;
}
.nav-item:hover .container{
    display: block;
    animation: show 0.2s ease-in forwards;
}
@keyframes show {
    100%{
        height: 120px;
    }
}
/* nav 结束 */
/* news开始 */
.body{
    height: 730px;
    padding-top: 10px;
    background: #f5f5f5;
}
.news{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.news-list1{
    height: 40px;
    background: #fff;
}
.news-item1{
    font-size: 14px;
    color: white;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background: #83c44e;
}
.news-item2{
    float: right;
    line-height: 40px;
    text-align: right;
    width: 100px;
}
.news-item2 a{
    font-size: 14px;
    color: #757575;
}
.news-item2 a:hover{
    color: #ff6700;
}
.news-list2{
    height: 300px;
    background:#fff;
    border-top: 2px solid #b0b0b0;
}
.news-slide{
    float: left;
    width: 490px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.news-page{
    float: right;
    /*background: #00c0a5;*/
    width: 736px;
    height: 300px;
}
#slide-box{
    height: 300px;
    width: 2450px;
    position: absolute;
    left: 0;
}
#slide-box a{
    height: 300px;
    width: 490px;
    float: left;
/*    position: absolute;
    left: 0;
    top: 0;*/
}
.btn{
    width: 160px;
    height: 10px;
    position: absolute;
    right: 0px;
    bottom: 20px;
}
.btn li{
    height: 20px;
    width: 20px;
    float: left;
    margin-left:10px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background: #000;
    cursor: pointer;
}
.btn  .selected{
    background: orange;
}
#btn1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 20px;
}
#btn1 a{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: white;
    display: block;
    float: left;
    background: #000;
    line-height: 20px;
    text-align: center;
    font-family: xingshu;
}
#slide-box img{
    height:300px;
    width: 490px;

}
.news-page ul{
    width: 736px;
    height: 300px;
}
.news-page li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
}
.news-page a{
    color: #b0b0b0;
}
/* news结束 */
/* notice 开始 */
.notice{
    margin-top: 10px;
}
.notice-title{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: white;
}
.notice-title span{
    font-size: 14px;
    color: white;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background: #83c44e;
}
.notice-item{
    height: 300px;
    width: 237px;
    margin-right: 10px;
    float: right;
    background: white;
    position: relative;
}
.notice-item:hover{
    top: -1px;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.1);
}
.notice .nomargin{
    margin-right: 0;
}
.border1{
    border-top: 1px solid #00c0a5;
}
.border2{
    border-top: 1px solid #e53935;
}
.border3{
    border-top: 1px solid #2196f3;
}
.border4{
    border-top: 1px solid #83c44e;
}
.border5{
    border-top: 1px solid #ffac13;
}
/* notice 结束 */
/* footer 开始 */
.footer{
    background: #f5f5f5;
    height: 40px;
}
.footer-page{
    background: white;
    height: 40px;
    border-top: 1px solid #757575;
    position: relative;
}
.footer-page i{
    position: absolute;
    left: 45%;
    bottom: -6px;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    color: #83c44e;
}
.footer-list{
    padding: 4px 0;
    height: 40px;
    width: 100px;
    position: absolute;
    left: 50%;
    font-size: 14px;
    color: #b0b0b0;
    text-align: center;
}
/* footer 结束 */