
/* news开始 */
.body{
    padding-top: 10px;
    background: #f5f5f5;
}
.news{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.news-list1{
    height: 40px;
    background: #fff;
}
.news-item1{
    font-size: 14px;
    color: white;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background: #83c44e;
}
.news-item2{
    float: right;
    line-height: 40px;
    text-align: right;
    width: 100px;
}
.news-item2 a{
    font-size: 14px;
    color: #757575;
}
.news-item2 a:hover{
    color: #ff6700;
}
.news-list2{
    height: 300px;
    background:#fff;
    border-top: 2px solid #b0b0b0;
}
.news-slide{
    float: left;
    width: 490px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.news-page{
    float: right;
    /*background: #00c0a5;*/
    width: 736px;
    height: 300px;
}
#slide-box{
    height: 300px;
    width: 2450px;
    position: absolute;
    left: 0;
}
#slide-box a{
    height: 300px;
    width: 490px;
    float: left;
/*    position: absolute;
    left: 0;
    top: 0;*/
}
.btn{
    width: 160px;
    height: 10px;
    position: absolute;
    right: 0px;
    bottom: 20px;
}
.btn li{
    height: 20px;
    width: 20px;
    float: left;
    margin-left:10px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background: #000;
    cursor: pointer;
}
.btn  .selected{
    background: orange;
}
#btn1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 20px;
}
#btn1 a{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: white;
    display: block;
    float: left;
    background: #000;
    line-height: 20px;
    text-align: center;
    font-family: xingshu;
}
#slide-box img{
    height:300px;
    width: 490px;

}
.news-page ul{
    width: 736px;
    height: 300px;
}
.news-page li{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    position: relative;
}
.news-page i{
    color: #b0b0b0;
}
.news-page a{
    color: #4A4A4A;
    font-size: 14px;
}
.news-page a:hover{
    color: #ff6700;
}
.news-page span{
    position: absolute;
    right: 20px;
    top: 0px;
    color: #b0b0b0;
    font-size: 14px;
}
.news-page p{
    position: absolute;
    top: 27px;
    left: 10px;
    color: #b0b0b0;
    font-size: 12px;
}
/* news结束 */
/* notice 开始 */
.notice{
    margin-top: 10px;
    height: 350px;
}
.notice-title{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: white;
}
.notice-title span{
    font-size: 14px;
    color: white;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background: #83c44e;
}
.notice-item{
    height: 300px;
    width: 237px;
    margin-right: 10px;
    float: right;
    background: white;
    position: relative;
}
.notice-item a{
    display: block;
    color: #4A4A4A;
    font-size: 14px;
    margin: 55px 20px;
    position: relative;


}
.notice-item p{
    margin: 0 32px;
    color: #b0b0b0;
    text-align: right;
    font-size: 14px;
}
.notice-item a:hover{
    color: #ff6700;
}
.notice-item:hover{
    top: -1px;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.1);
}
.notice .nomargin{
    margin-right: 0;
}
.border1 span{
    border: 1px solid #00c0a5;
}
.border2 span{
    border: 1px solid #e53935;
}
.border3 span{
    border: 1px solid #2196f3;
}
.border4 span{
    border: 1px solid #83c44e;
}
.border5 span{
    border: 1px solid #ffac13;
}
.notice-list span{
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    border-top: none ;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.border1{
    border-top: 1px solid #00c0a5;
}
.border2{
    border-top: 1px solid #e53935;
}
.border3{
    border-top: 1px solid #2196f3;
}
.border4{
    border-top: 1px solid #83c44e;
}
.border5{
    border-top: 1px solid #ffac13;
}
/* notice 结束 */
/* show 开始 */
.show{
    height: 310px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.show span{
    display: block;
    height:40px;
    line-height: 40px;
    color: #757575;
    border-bottom: 1px solid #83c44e;
    margin-bottom: 10px;
}
.show-list{
    position: absolute;
}
.show-item{
    height: 250px;
    float: left;
    width:270px;
    margin-right: 10px;
}
.show-item img{
    height: 250px;
    width: 270px;
}
/* show 结束 */
