
.container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.left-container{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: -100%;
    transition: left 2s;
    overflow: hidden;
}
.right-container{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    right: -100%;
    transition: right 2s;
    overflow: hidden;
}
.l-btn{
    height: 50px;
    width: 50px;
    background: #000;
    position: absolute;
    bottom: 10%;
    right: 25%;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: transform 1s,right 1s;
    cursor: pointer;
}
.l-btn i{
    color: #fff;
    font-size: 25px;

}
.r-btn{
    height: 50px;
    width: 50px;
    background: #fff;
    position: absolute;
    bottom: 10%;
    left: 25%;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: transform 1s, left 1s;
    cursor: pointer;
}
.r-btn i{
    display: block;
    color: #000;
    font-size: 25px;
    transform: rotateY(180deg);
}
.left-content{
    position: absolute;
    right: 25%;
    top:20%;
    transform: translateX(25%);

}
.left-content::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    border-top:5px solid #000;
    border-right:5px solid #000;

}
.left-content::after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10%;
    left: -10%;
    border-bottom:5px solid #000;
    border-left:5px solid #000;
}
.left-content h3{
    margin: 20px 20px ;
}
.left-content p{
    margin: 20px 20px;
}
.left-content h1{
    margin: 20px 20px;
}
.left-img-box{
    width: 200px;
    height: 200px;
    position: absolute;
    right:-100px;
    top:20%;
    /*background: url("../image/my-photo.jpg") center/contain no-repeat;*/
    border-radius: 50%;
}
.left-img-box img,.right-img-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.right-content{
    position: absolute;
    left: 25%;
    top:20%;
    transform: translateX(-25%);

}
.right-content::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    border-top:5px solid #fff;
    border-right:5px solid #fff;

}
.right-content::after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10%;
    left: -10%;
    border-bottom:5px solid #fff;
    border-left:5px solid #fff;
}
.right-content h3{
    margin: 20px 20px ;
    color: #fff;
}
.right-content p{
    margin: 20px 20px;
    color: #fff;
}
.right-content h1{
    margin: 20px 20px;
    color: #fff;
}
.right-img-box{
    width: 200px;
    height: 200px;
    position: absolute;
    left:-100px;
    top:20%;
    /*background: url("../image/my-photo.jpg") center/contain no-repeat;*/
    border-radius: 50%;
}
.my-info{
    width: 0;
    height: 0;
    opacity: 0;
    margin: 5% 5%;

}
.my-info>div{
    width: 22%;
    height: 100%;
    float: left;
    margin-right: 3%;
}
.name{
    width: 100%;
    height: 20%;
    background: #999933;
    margin-bottom: 10%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding:20% 0;
}
.name-img{
    width: 100%;
    height: 70%;
    background: url("../image/my-info (2).jpg") center/cover no-repeat;

}
.sex{
    width: 100%;
    height: 20%;
    background: #993333;
    margin-top: 10%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding:20% 0;
}
.sex-img{
    width: 100%;
    height: 70%;
    background: url("../image/my-info (3).jpg") center/cover no-repeat;

}
.age{
    width: 100%;
    height: 20%;
    background: #339966;
    margin-bottom: 10%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding:20% 0;
}
.age-img{
    width: 100%;
    height: 70%;
    background: url("../image/my-info (4).jpg") center/cover no-repeat;
}
.school-1{
    width: 100%;
    height: 20%;
    background: #cc9933;
    margin: 5% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding:20% 0;
}
.school-2{
    width: 100%;
    height: 20%;
    background: #006699;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding:20% 0;
}
.school-img{
    width: 100%;
    height: 50%;
    background: url("../image/my-info (1).jpg") center/cover no-repeat;
}
.my-do{
    width: 0;
    height: 0;
    opacity: 0;
    margin: 5% 5%;
    float: right;
}
.my-do>div{
    width: 100%;
    height: 30%;
    margin-bottom: 3%;
}
.qianduan-img,.houduan-img,.ui-img{
    width: 21%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    line-height: 150px;
    float: left;
    background: #fff;

}
.my-do i{
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: #AE0000;
    transition: transform 1s;
}
.qianduan-info,.houduan-info,.ui-info{
    float: left;
    height: 100%;
    width: 70%;
    margin-left: 5%;
    padding: 10px 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.my-do-desc{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.my-do-desc strong{
    font-size: 18px;
    color: #AE0000;
}
.qianduan:hover .qianduan-img{
    background: #AE0000;
    border: none;
}
.qianduan:hover i{
    transform: rotateZ(90deg);
    color: #fff;
}
.houduan:hover .houduan-img{
    background: #AE0000;
    border: none;
}
.houduan:hover i{
    transform: rotateZ(90deg);
    color: #fff;
}
.ui:hover .ui-img{
    background: #AE0000;
    border: none;
}
.ui:hover i{
    transform: rotateZ(45deg);
    color: #fff;
}




