body{
    overflow: hidden;
    background: #D7D7D7;
}
.container{
    width: 100%;
}
.product-slide{
    position:absolute;
    width: 150px;
    height: 400px;
    top:50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -75px;
    z-index: 10;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 400px;
    border-radius: 5px;
    transform-origin: 25% 90%;
    transition: transform 1s;
    cursor: pointer;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.slide i{
    width: 50px;
    height: 50px;
    font-size: 50px;
    position: absolute;
    top:40%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    /*color: #cc9966;*/
    color: #000;

}
.slide0{
     background:  #ea2a29;
}
.slide1{
    background:  #f16729;
}
.slide2{
    background: #f89322;
}
.slide3{

    background: #ffcf14;
}
.slide4{
    background: #87b11d;
}
.slide5{
    background: #008253;
}
.slide6{
    background: #3277b5;
}
.slide7{
    background: #ca0d86;
}
.slide8{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 400px;
    border-radius: 5px;
    transform-origin: 25% 90%;
    transition: transform 1s;
    background: url("../image/dark_leather.jpg") center center no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;

}
.slide8 span{
    font-size: 18px;
    color: #cc9966;
}
.slide-list{
    /*width: 0;*/
    /*height: 0;*/
    height: 400px;
    width: 800px;
    position: absolute;
    top:50%;
    margin-top: -200px;
    left: 50%;
    margin-left: 55px;
    opacity: 0;
}
.slide-item{
    height: 400px;
    width: 800px;
    position: absolute;
    opacity: 0;
}
.slide-item a{
    display: block;
    height: 100%;
}
.slide-item0{
    background: url("../image/slide3.jpg") center/contain no-repeat;
}
.slide-item1{
    background: url("../image/slide2.jpg") center/contain no-repeat;
}
.slide-item2{
    background: url("../image/slide4.jpg") center/contain no-repeat;
}
.slide-item3{
    background: url("../image/slide6.png") center/contain no-repeat;
}
.slide-item4{
    background: url("../image/slide1.png") center/contain no-repeat;
}
.slide-item5{
    background:#3277b5 url("../image/slide5.jpg") center/contain no-repeat;
}
.slide-item6{
    background: url("../image/slide8.png") center/contain no-repeat;
}
.slide-item7{
    background: url("../image/slide7.png") center/contain no-repeat;
}
.btn{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    opacity: 0;
}
.btn span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0,0,0,.6);
    height: 50px;
    text-align: center;
    line-height: 50px;


}
.prev-btn{
    margin-right: 10px;
}
.prev-btn:hover{
    background:#000;
}
.next-btn:hover{
    background:#000;
}